.site-layout-content {
    min-height: 280px;
    padding: 24px;
    background: #fff;
}
#components-layout-demo-top .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
    float: right;
    margin: 16px 0 16px 24px;
}

.ant-modal-content {
    /* max-height: 700px; */
    /* height: 700px; */
    width: 150%;
    overflow-y: auto;
    overflow-x: auto;
}
/* .ant-modal {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
} */
.ant-carousel .slick-dots li button {
    background: #666666;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    opacity: 0.4;
}
.ant-carousel .slick-dots li.slick-active button {
    opacity: 1;
    background: #006dd3;
}

.ant-modal-footer button {
    display: flex;
}
